#pesquisa{
    display:flex;
    flex-flow:wrap;
    width: 400px;
    height: 40px;
    margin: 30px auto;
}
#texto{
    width: 350;
    height: 20px;
    float: left;
    font-family: 'Arial';
    font-size: 20px;
}
.bnt{
    width: 11px;
    height: 11px;
    border-radius: 10px;
    background-color: aquamarine;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;

    
}
#texto:focus{
    border: solid 2px aquamarine;
}
#historico{
    width:258px;
    height:20px;
    display:inline;
    
    
}
