main{
    grid-area: main;
    align-items: center;
    justify-items: center;
    margin: 3px;
    grid-column-start: 1;
    grid-column-end: 6;
    justify-items: center;
    background-color: #5ce1e6;
    text-align: center
    
}

main p{
    margin-top: 38px;
}


#links{
    display: flex;
    justify-content:baseline;
    margin: 5px;
}
#comentarios{
    overflow-y: scroll; 
    margin-bottom: 0px;
    display:grid;
    grid-template-rows:90px;
    border: 1px solid black;
    width:  577px;
    height: 150px;
    background-color: antiquewhite;
}
#curtida{
    display: grid;
    grid-template-areas:
                "like textoCurti";
    margin-left: 45%;
    margin-right: 45%;
     
}
#textoCurti{
    grid-area: textoCurti;
    margin: 10px;
}
#texto{
    grid-area: texto;
}
#comentar{
    max-height: 20px;
    overflow-y: scroll;
}
#HCB_comment_box{
    padding-bottom: 1em; 
    margin-left: 16%;
    margin-right: 16%;
}
#comentario{
    background-attachment: initial; 
    background-clip: initial; 
    background-color:aliceblue; 
    border-bottom-color: rgb(221, 221, 221); 
    border-left-color: rgb(204, 204, 204); 
    border-right-color: rgb(221, 221, 221); 
    border-top-color: rgb(204, 204, 204); 
    color:black; 
    display: block; 
    width: 575px;
    margin-top: 10px;
}
#like{
    grid-area: like;
    max-width: 30px; 
    min-height: 30px; 
    cursor: pointer;
    margin: 10px;
}

header{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-areas:  "form";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: #ffde59;
    position: relative;
    margin: 3px;
    padding: 18px;
    text-align: center;
}

